<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <header class="order-summary__header">
      <h4>Thank you for your order!</h4>
      <h4 class="order-total">Total: <%= @order.total %></h4>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Item</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |p| %>
            <%= render 'products/details', product: Product.find(p.product_id), image_class: 'small-img' %>
        <% end %>
      </tbody>
    </table>
    <footer>
      <label>Email:</label><span><%= @order.email %></span>
    </footer>
  </div>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
