<article class="product-detail">
  <span> <%= image_tag product.image.url, class: image_class %> </span>
  <span><%= product.name %></span>
  <span><%= product.description %></span>
  <span><%= product.quantity %></span>
  <span><%= product.price %></span>
</article>